<style>
       h1,h2{
        color:#87796E;
       }
       h3{
        color:#60514E;
       }
       body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: #F1F3F4;
        color:#433B39;
       }
        .header{
            text-align :center;
            width: 1000px;
            margin-left : 100px;
            margin-right : 100px;
            background-color: #EBE7E4;
        }
        .semi-header{
            text-align :center;
            background-color: #EBE7E4;
        }
        .citation{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: x-large;
            font-weight: bold;
            text-align: center;
            color:#87796E;

        }
        .picto {
            margin-top :3px;
            margin-bottom: 3px;
            margin-right: 5px;
        }
        .left {
            text-align:left;
        }
        .center {
            text-align:center;
        }
        .right {
            text-align:right;
        }

    </style>